@import "~bootstrap/scss/bootstrap.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  min-width: 767px;
}

.AssetAmount {
  display: block;
  position: relative;
  height: 1.5em;
  min-width: 4em;
  .AssetAmount-content {
    display: inline-block;
    position: relative;
    margin-top: 0.67em;
    line-height: 1;
    width: 100%;
    small {
      position: absolute;
      font-size: 0.8em;
      left: 0;
      top: -1em;
      right: 0;
      opacity: 0.5;
      font-weight: bold;
      .icon {
        text-align: center;
        max-height: 1em;
      }
    }
  }
}

.Dashboard-chart {
  position: relative;
}

.Loader {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PortfolioTableRow {
  .PortfolioTableRow-close {
    opacity: 0;
  }
  &:hover .PortfolioTableRow-close {
    opacity: 0.5;
    cursor: pointer;
    &:hover {
      opacity: 1;
      color: $danger;
    }
  }
}

.dropdown-menu {
  max-height: 61.8vh;
  overflow: auto;
}

.icon {
  max-height: 1.5em;
  color: grey;
  font-weight: normal;
  vertical-align: bottom;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  .icon {
    max-height: 1.2em;
  }
}

.table {
  font-size: small;
  tbody {
    th {
      min-width: 8em;
    }
    .form-control {
      margin: -0.36rem 0;
      &[type="number"] {
        max-width: 12em;
        min-width: 6em;
      }
    }
  }
}

.table-sort {
  cursor: pointer;
}

.recharts-wrapper {
  font-size: small;
  .recharts-text {
    background: white;
  }
}
